body {
    color: #000;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

/*style*/
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after {
    visibility: hidden !important;
}

/*style.scss7*/
a {
    color: #000;
    text-decoration: none;
}

/*style.scss13*/
main {
    display: block;
}

/*style.scss28*/
@media screen and (max-width: 1080px) {
main {
    padding-top:60px;
}
}

/*style.scss62*/
p {
    color:#000;
}

/*header.scss3*/
.Header {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*h

/*header scss31*/
.HeaderContainer {
    display: flex ;
    justify-content:space-between;
    margin: 0 36px 0 36px;
    max-width: 100%;
    position: relative;
}

/*mixins.scss129*/
.About_title h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 74px;
}

/*mixins.scss140*/
.About_title h2 span {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
}

/*mixins.scss152*/
.About_title p {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 10px;
    text-align: center;
}

/*mixins.scss199*/
.About_button a span:first-child {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

/*mixins.scss206*/
.About_button a span:last-child {
    font-size: 12px;
    line-height: 18px;
}

/*mixins.scss214*/
@media screen and (min-width: 768px) {
.HeaderLogo {
    transition: opacity 0.2s;
}
.HeaderNavListItem {
    transition: opacity 0.2s;
}
.HeaderNavListItem_buttom:hover {
    opacity: 0.8;
}
.FirstView_Content_bottons a {
    transition: opacity 0.2s;
}
.FirstView_Content_bottons a:hover {
    opacity: 0.8;
}
.About_button a {
    transition: opacity 0.2s;
}
.About_button a:hover {
    opacity: 0.8;
}
}


/*header scss43*/
.HeaderContainer>last-child {
    display: inline-flex;
}

/*header.scss52 入力したらpcとspが逆になった*/
.HeaderLogo_pc {
    display: block;
    height: 20px;
    width: auto;
}

/*header.scss59 入力したらサイズ小さくするとspロゴが出ない*/
.HeaderLogo_sp {
    display: none;
    height: 16px;
    width: auto;
}

/*header scss68*/
.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/*header scss112*/
.HeaderNavListItem {
    margin-right: 45px;
}

/*header scss121*/
.HeaderNavListItem:last-of-type {
    margin: 0;
}

/*header scss133*/
.HeaderNavListItem_link {
    display: block;
}
/*header scss144*/
.HeaderNavListItem_link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}

/*header scss149*/
.HeaderNavListItem_link>span:first-child {
    font-family: 'Lato', sans-serif;
}

/*header scss159*/
.HeaderNavListItem_link>span:last-child {
    font-size: 10px;
}

/*header scss172*/
.HeaderNavListItem_buttom {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    display: flex;
    flex-direction:column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content:center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40%;
    padding: 12px 20px;
}

/*header scss195*/
.HeaderNavHamburger {
    display: none;
}

/*firstview.scss3*/
.FirstView {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}

/*firstview.scss16*/
.FirstView_main_image {
    width: 100%;
}
/*firstview.scss19*/
.FirstView_main_image_sp {
    display: none;
}

/*firstview.scss28*/
.FirstView_Container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/*firstview.scss37*/
.FirstView_Content {
    margin-bottom: 70px;
    width: fit-content;
}

/*firstview.scss46*/
.FirstView_Content_title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
}

/*firstview.scss63*/
.FirstView_Content_images {
    margin-bottom: 25px;
}

/*firstview.scss73*/
.FirstView_Content_images img {
    margin-right: 8px;
}

/*firstview.scss80*/
.FirstView_Content_images img:nth-of-type(2) {
    width: 40%;
}

/*firstview.scss84*/
.FirstView_Content_images img:last-of-type {
    margin-right: 0;
}

/*firstview.scss90*/
.FirstView_Content_bottons {
    display: flex;
}

/*firstview.scss97*/
.FirstView_Content_bottons a {
    align-items:center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content:center;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

/*firstview.scss108*/
.FirstView_Content_bottons a:first-of-type {
    margin-right: 15px;
    width: 306px;
}

/*firstview.scss118*/
.FirstView_Content_bottons a:last-of-type {
    background-color: #fff;
    border:1px solid #E0E0E0;
    color: #000;
    width: 176px;
}

/*firstview.scss136*/
.FirstViewCaption a {
    color: #A2A2A4;
}
/*firstview.scss137*/
.FirstViewCaption {
    color: #A2A2A4;
    font-size: 12px;
}

/*about.scss3*/
.AboutWrapper {
    padding: 110px 0;
    background-color: #F79214;
    padding: 45px 0;
}
/*about.scss14*/
.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items:center;
    display: flex;
    justify-content: space-between;
}

/*about.scss21*/
@media screen and (max-width: 1024px) {
.About {
    flex-direction:column;
}
}

/*about.scss25*/
.About_title {
    align-items:center;
    display: flex;
    flex-direction:column;
    margin-bottom: 60px;
    width: 100%;
    align-items:flex-start;
    margin-bottom: 0;
    width: 53%;
}

/*about.scss21*/
@media screen and (max-width: 1024px) {
.About_title {
    margin-bottom: 0;
    width: 100%;
}
}

/*about.scss41*/
.About_title h2, .About_title p {
    color: #FFF;
    text-align: left;
}

/*about.scss47*/
.About_title h2 {
    font-size: 40px;
    letter-spacing: 1px;
    width: 100%;
}

/*about.scss57*/
.About_title h2>span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
/*about.scss68*/
.About_title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 15px;
}

/*about.scss75*/
.About_title br {
    display: none;
}

/*about.scss80*/
.About_button {
    width: 250px;
}

/*abou.scss83*/
@media screen and (max-width: 1024px) {
.About_button {
    margin-top: 40px;
}
}

/*about.scss87*/
.About_button a {
    align-items: center;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    display: flex;
    flex-direction:column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #F79214 !important;
    background-color: #FFF;
}

/*set-device.scss8*/
.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}
/*set-device.scss8*/
.HeaderNavListItem_link>span:first-child {
    font-family:'Lato', sans-serif;;
}
/*set-device.scss8*/
@media screen and (max-width: 1080px) {
/*オリジナル入力
.HeaderLogo_pc {
    display: block;
}
/*オリジナル入力
.HeaderLogo_sp {
    display: none;
}
*/
/*set-device.scss8*/
.Header {
    background-color: #fff;
    position: fixed;
    z-index: 10;
}
/*set-device.scss8*/
.HeaderNavHamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}
/*set-device.scss8*/
.HeaderNavHamburger_line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}
/*set-device.scss8*/
.HeaderNavHamburger_line:first-child {
    top: 0;
}
/*set-device.scss8*/
.HeaderNavHamburger_line:last-child {
    top: 100%;
}

/*set-device.scss8*/
.HeaderNavList {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width:100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0,0,0,0.8);
    -webkit-overflow-scrolling-: touch;
    height: 100%;
}
/*set-device.scss8*/
.HeaderNavListItem {
    margin-right: 0;
}
/*set-device.scss8*/
.HeaderNavListItem:last-of-type {
    margin-top: 20px;
}
/*set-device.scss8*/
.HeaderNavListItem_link {
    padding: 20px 0;
}
/*set-device.scss8*/
.HeaderNavListItem_link {
    display: block;
}
/*set-device.scss8*/
.HeaderNavListItem_link>span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
}
/*set-device.scss8*/
.HeaderNavListItem_link>span:last-child {
    font-size: 12px;
    margin-top: 10px;
    color: #F79214;
    letter-spacing: 2px;
}
/*set-device.scss8*/
.HeaderNavListItem_buttom {
    font-size: 16px;
    margin: auto;
    height: 60px;
    width: 250px;
}
}

/*set-device.scss14*/
@media screen and (max-width: 767px) {
/*setdevice.scss14*/
.HeaderLogo_sp {
    display: block;
}
/*set-device.scss14*/
.HeaderLogo_pc {
    display: none;
}
 /*オリジナル入力*/   
.Header {
    padding-top: 15px;
    padding-bottom: 15px;
}
/*set-device.scss14*/
.HeaderContainer {
    max-width: 100%;
    margin: 0 20px;
}
/*set-device.scss14*/
.HeaderNavList {
    top: 52px;
}

/*set-device.scss14*/
main {
    padding-top: 52px;
}
.FirstView {
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px;
}
.FirstView_main_image_sp {
    display: block;
}
.FirstView_Container {
    margin-top: -45vw;
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
.FirstView_Content {
    margin-bottom: 20px;
    width: 100%;
}
.FirstView_Content_title {
    font-size: 25px;
    line-height: 36px;
    margin-left: calc(((100vw - 100%) /2 )*-1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
}
.FirstView_Content_images {
    display: flex;
    justify-content:space-between;
    margin-bottom: 30px;
    width: 100%
}
.FirstView_Content_images img {
    width: 27.5%;
}
.FirstView_Content_images img:nth-of-type(2) {
    width: 40%;
}
.FirstView_Content_images img:last-of-type {
    margin-right: 0;
}
.FirstView_Content_bottons {
    flex-direction:column;
}
.FirstView_Content_bottons a {
    font-size: 14px;
    width: 100% !important;
}
.FirstView_Content_bottons a:first-of-type {
    margin-right: 0;
    margin-bottom: 10px;
}
.FirstView_Content_bottons a:last-of-type {
    height: 45px;
}
.AboutWrapper {
    padding: 30px 0;
}
.About {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
.About_title {
    margin-bottom: 40px;
}
.About_title h2 {
    font-size: 30px !important;
    line-height: 1.2;
    text-align: center;
}
.About_title h2 span {
    font-size: 30px;
    letter-spacing: 1px;
}
.About_title h2>span {
    font-size: 33px;
}
.About_title br {
    display: block;
}
.About_title p {
    font-size: 16px;
    line-height: 21px;
}
}

/*topscss17*/
.Header {
    width: 100%;
    position: absolute;
}

